{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <title>Torre 1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/1591af9028.js"></script>

    {% include 'show_info_css.html' %}

</head>

<body>

    <div class="menu"></div>

    <div class="menu-side">
        <div class="seach-data">
            <div class="form_camp">
                <label for="id_username">Username:</label><span id="e_username"></span>
                <input type="text" name="username" id="id_username" maxlength="120" value="juliangantiva"/>
            
                <div class="msg msg_user"></div>
            </div>

            <div class="form_camp">
                <label for="id_job">Job code:</label><span id="e_job"></span>
                <input type="text" name="job" id="id_job" maxlength="120" value="KWNo67wO"/>
                <button type="submit" class="add-job" id="add-job" data-url="{% url 'get_job' %}">Add a job</button>
            
                <div class="msg msg_job"></div>
            </div>

            <div class="form_camp">
                <label for="id_size">Size:</label><span id="e_size"></span>
                <input type="number" name="size" id="id_size" value="20"/>
                <label for="id_offset" class="padding-top">Offset:</label><span id="e_offset"></span>
                <input type="number" name="offset" id="id_offset" value="10"/>
                <button type="submit" class="add-job" id="add-sev-jobs" data-url="{% url 'list_jobs' %}">Add several jobs</button>
            
                <div class="msg msg-sev-jobs"></div>
            </div>
        </div>

    </div>

    <div class="container">

        <input type="hidden" id="url-get-data" data-url-job="{% url 'get_data' %}" >

        {% for oppor in opportunities %}

        <div class="job-container cont_{{ oppor.code }}">
            <div class="job-title">{{ oppor.title }}</div>
            <div class="job-info">{{ oppor.opportunity|title }}</div>
            {% for company in oppor.companies %}
            <div class="job-info">{{ company }}</div>
            {% endfor %}
            {% if oppor.remote %}
            <div class="job-info">Remote</div>
            {% else %}
                {% for location in oppor.locations %}
                <div class="job-info">{{ location }}</div>
                {% endfor %}
            {% endif %}
            {% if oppor.salary %}
                {% if oppor.salary.visible %}
                    {% if oppor.salary.code == 'range' %}
                    <div class="job-info">Salary: {{oppor.salary.currency}} {{oppor.salary.min_amount|intcomma}} - {{oppor.salary.max_amount|intcomma}} /{{oppor.salary.periodicity}}</div>
                    {% endif %}
                    {% if oppor.salary.code == 'fixed' %}
                    <div class="job-info">Salary: {{oppor.salary.currency}} {{oppor.salary.min_amount|intcomma}} /{{oppor.salary.periodicity}}</div>
                    {% endif %}
                {% endif %}
            {% endif %}
            <div class="job-line"></div>
            <div class="job-more" data-code="{{ oppor.code }}" data-load="0">See if it fits you</div>

            <div class="job-moreinfo" id="{{ oppor.code }}"></div>
        </div>

        {% endfor %}

    </div>

    <div class="menu">

        <h3>Notes</h3>

        <p>
        This page shows a new way to show job offers to users. The idea is that users can see quickly how far they are from accomplishing the main requirements for a job according to the data on their profiles. 
        </p>
        <p>
        What I did was to compare the data in a user profile with the data from a job offers
        </p>
        <p>
        These are: skills (which ones the candidate has, and which ones doesn’t), location (if it’s remote, are you in the right time zone?), salary (depending if it’s a job, freelance or internship, Is it in your desired range?) and language (depending on the level, is it in your level?). Also, candidates can see if there is a connection with a company to see if someone can recommend her or him.
        </p>
        <p>
        Firstly, there are two assumptions: the user is registered, and a list with opportunities is shown. For this, there are to inputs, one where you can enter a username, and one where you can add new opportunities adding the id.
        </p>
        <p>
        As an example, there is already a job offer list that was added using databases, but more jobs can be added.
        </p>
        <p>
        The code has bugs because there are many variations in the API responses depending on the user profile. I should have studied more carefully the responses to identify any possible variation. 
        </p>
            
            
            

    </div>

    {% include 'show_info_js.html' %}


</body>
</html>