             
<script>

    $(document).ready(function(){
    
        $('#id_username').on('click', function(){
            $('.job-more').attr('data-load','0');
            $('.job-more').html('See if it fits you');
            $('.job-moreinfo').slideUp();
            $('.msg_user').html('');
        });
    
        $(document).on('click', '.job-more', function(){
    
            var $more = $(this);
            var code = $more.attr('data-code');
            var load_box = $more.attr('data-load');
            $('.msg_user').html('');
    
            var username = $('#id_username').val();
    
            if (load_box === '0') {
    
                $more.html('<i class="fa fa-spinner fa-spin btn_loader"></i>');
                var url = $('#url-get-data').attr('data-url-job');
                
                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {code: code, username: username},
                    success: function(data) {
                        
                        if (data.error == '') {
                            $more.html('Less');
                            $more.attr('data-load','1');
    
                            var content = moreinfo(data);
                            $('#'+code).html(content);
                            $('#'+code).slideDown();
                        } else {
                            $('.msg_user').html('User not found');
                            $more.html('See if it fits you');
                        }
    
                    },
                    error: function(){
                        console.log('ajax error')
                        $('.job-more').html('See if it fits you');
                    }
                });
    
            } else {
    
                $('#'+code).slideToggle();
                var text = $more.text();
                if (text === 'See if it fits you') {
                    $more.text('Less');
                } else {
                    $more.text('See if it fits you');
                }
    
            }
    
        });
    
        function moreinfo(data){
    
            var aux = '';
            ///Skills////////////////////////////////////////////////////
    
            var jobStrengths = data.job_strengths;
            var htmlSkills1 = '';
            if (jobStrengths.error === undefined){
    
                var htmlSkills2 = '';
                var htmlSkills3 = '';
                var htmlSkills4 = '';
                aux = '';
                jobStrengths.forEach(function(value){
    
                    aux = '<div class="info-skill info-box">'+value.name+'</div>';
                    if (value.accomplish == 1) {
                        htmlSkills2 = htmlSkills2 + aux;
                    } else {
                        if (value.accomplish == 2) {
                            htmlSkills3 = htmlSkills3 + aux;
                        } else {
                            htmlSkills4 = htmlSkills4 + aux;
                        }
                    }
    
                });
    
                if (htmlSkills2 !== '') {
                    htmlSkills2 = '<div class="info-title2">You already have them:</div>' + htmlSkills2;
                }
    
                if (htmlSkills3 !== '') {
                    htmlSkills3 = '<div class="info-title2">You must be interested in learning them:</div>' + htmlSkills3;
                }
    
                if (htmlSkills4 !== '') {
                    htmlSkills4 = '<div class="info-title2">You need them:</div>' + htmlSkills4;
                }
    
                htmlSkills1 = htmlSkills2 + htmlSkills3 + htmlSkills4;
    
                htmlSkills1 = '<div class="info-div">'+
                '<div class="info-title">Skills</div>'+
                '<div class="info-linea2"></div>'+
                htmlSkills1 +
                '</div>';
    
            }
    
            ///Location////////////////////////////////////////////////////
    
            var jobLocation = data.job_location;
            var htmlLocation1 = '';
            if (jobLocation.error === undefined){
    
                var htmlLocation2 = '';
                var htmlLocation3 = '';
                if (jobLocation.remote == true) {
    
                    aux = '';
                    if (jobLocation.time_ok == true) {
                        aux = 'You are in the right time zone.';
                    } else {
                        aux = 'You are not in the right time zone.';
                    }
                    htmlLocation2 = '<div class="info-title2">'+aux+'</div>'+'<div class="info-remote info-box">Remote</div>';
                    htmlLocation3 = '<div class="info-time info-box">Time Zone: '+jobLocation.timezones[0]+' to '+jobLocation.timezones[1]+'</div>'; 
                    htmlLocation1 =  htmlLocation2 + htmlLocation3;
                
                } else {
    
                    aux = '';
                    if (jobLocation.location_ok == true) {
                        aux = 'It is close enough.';
                    } else {
                        aux = 'Probably it is not close to you.';
                    }
                    htmlLocation2 = '<div class="info-title2">'+aux+'</div>';
                    htmlLocation3 = '<div class="info-location info-box">'+jobLocation.location_job+'</div>';
                    htmlLocation1 =  htmlLocation2 + htmlLocation3;
                }
    
                htmlLocation1 = '<div class="info-div">'+
                '<div class="info-title">Location</div>'+
                '<div class="info-linea2"></div>'+
                htmlLocation1 +
                '</div>';
    
            }
    
            ///Salary////////////////////////////////////////////////////
    
            var jobSalary = data.job_salary;
            var htmlSalary1 = '';
            if (jobSalary.error === undefined){
    
                var htmlSalary2 = '';
                var htmlSalary3 = '';
                var htmlSalary4 = '';
                if (jobSalary.salary_ok === 'blank') {
    
                    htmlSalary3 = '<div class="info-salary info-box">To be defined</div>';
    
                } else {
    
                    aux = '';
                    if (jobSalary.salary_ok === 'yes') {
                        aux = 'It is in your desired range.';
                    }
                    if (jobSalary.salary_ok === 'not') {
                        aux = 'It is not in your desired range.';
                    }
                    htmlSalary2 = '<div class="info-title2">'+aux+'</div>';
    
                    aux = jobSalary.currency + ' ' + jobSalary.minAmount;
                    if (jobSalary.maxAmount != '0') {
                        aux = aux + ' - ' + jobSalary.maxAmount;
                    }
                    aux = aux + ' / ' + jobSalary.periodicity;
                    
                    htmlSalary3 = '<div class="info-salary info-box">'+aux+'</div>';
    
                }
    
                htmlSalary4 = '<div class="info-salary info-box">'+jobSalary.opportunity+'</div>';
    
                htmlSalary1 = htmlSalary2 + htmlSalary3 + htmlSalary4;
    
                htmlSalary1 = '<div class="info-div">'+
                '<div class="info-title">Salary</div>'+
                '<div class="info-linea2"></div>'+
                htmlSalary1 +
                '</div>';
    
            }
    
            ///Language////////////////////////////////////////////////////
    
            var jobLanguages = data.job_languages;
            var htmlLanguages1 = '';
            if (jobLanguages.error === undefined){
                    
                var htmlLanguages2 = '';
                var htmlLanguages3 = '';
                aux = '';
                jobLanguages.forEach(function(value){
    
                    aux = '<div class="info-language info-box">'+value.language.name+' - '+value.fluency+'</div>';
                    if (value.accomplish == '1') {
                        htmlLanguages2 = htmlLanguages2 + aux;
                    } else {
                        htmlLanguages3 = htmlLanguages3 + aux;
                    }
    
                });
    
                if (htmlLanguages2 !== '') {
                    htmlLanguages2 =  '<div class="info-title2">You have it.</div>' + htmlLanguages2;
                }
    
                if (htmlLanguages3 !== '') {
                    htmlLanguages3 = '<div class="info-title2">You need it.</div>' + htmlLanguages3;
                }
    
                htmlLanguages1 = htmlLanguages2 + htmlLanguages3;
    
                htmlLanguages1 = '<div class="info-div">'+
                '<div class="info-title">Language</div>'+
                '<div class="info-linea2"></div>'+
                htmlLanguages1 +
                '</div>';
    
            }
    
            ///Connections////////////////////////////////////////////////////
    
            var jobMembers = data.job_members;
            var htmlMembers1 = '';
            if (jobMembers.error === undefined){
                    
                var htmlMembers2 = '';
                aux = '';
                jobMembers.forEach(function(value){
    
                    aux = '<a href="https://bio.torre.co/'+ value.person.username +'" class="info-member info-box-photo" target="_blank"><img class="user-photo" src="'+ value.person.pictureThumbnail +'"/><div class="info-box-photo-text">' +value.person.name+ '</div></a>';
                    if (value.accomplish == '1') {
                        htmlMembers2 = htmlMembers2 + aux;
                    }
    
                });
    
                if (htmlMembers2 !== '') {
                    htmlMembers2 =  '<div class="info-title2">You probably know them or know someone who knows them:</div>' + htmlMembers2;
                } else {
                    htmlMembers2 = '<div class="info-title2">At the moment you know nobody here.</div>'
                }
    
                htmlMembers1 = htmlMembers2;
    
                htmlMembers1 = '<div class="info-div">'+
                '<div class="info-title">Members you know</div>'+
                '<div class="info-linea2"></div>'+
                htmlMembers1+
                '</div>';
    
            }
    
            ///////////////////////////////////////////////////////
    
            var content = htmlSkills1+htmlLocation1+htmlSalary1+htmlLanguages1+htmlMembers1
            
            return content;
        }
    
    
    });
</script>